div {
  border: 3px solid red;
  height: 200px;
  width: 200px;
  margin: 20px;
}

@media screen and (min-width: 800px) {
  /* code to run when screen and min-width is 800px/these conditions are met: */
  /* height, width, margin, and float stay the same */
  div {
    border: 5px dashed blue;

  }
}
